.contact-form {
	width: 732px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #e1e1e1;
	box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
	background: #fbfbfb;
}

.name-title-account {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 50px;
	font-weight: 400;
	color: #444444;
	font-size: 24px;
}


.step-title-account {
	font-weight: 400;
	color: #444444;
	font-size: 18px;
}
div.title-account {
	border-bottom: solid 3px #e1e1e1;
	height: 40px;
	vertical-align: center;
	padding-bottom: 10px;
}

.devider-form-account {
	border-top: solid 1px #e1e1e1;
	margin-top: 5px;
	padding-bottom: 20px;
}

span.star-account {
	display: inline-block;
	margin-left: 50px;
	margin-right: 2px;
	color: red;
}

span.key-account {
	display: inline-block;
	margin-left: 0px;
	margin-right: 20px;
}

#first-name-account, #last-name-account, #email-address-account, #confirm-emial-address-account {
	width: 350px;
	margin-right: 100px;
}

#middle-initial-account {
	width: 150px;
	margin-right: 100px;
}

#online-id-account, #confirm-online-id-account {
	width: 200px;
	margin-right: 100px;
}

.btn-group-account {
	padding-left: 300px;
}

.next-account {
	width: 140px;
	margin-right: 20px;
}

input.input-sm[type="text"] {
	height: 12px;
}

table.arrow-account {
	margin-bottom: 20px;
	margin-left: 200px;
}

.arrow-start-account {
	display: inline-block;
	margin-left: 23px;
	margin-bottom: 0px;
	width: 13px;
	height: 13px;
	background-image: url(../img/arrow-finish-account.png);
	background-position: -150px 0px;
}

.arrow-finish-account {
	display: inline-block;
	margin-bottom: 0px;
	width: 165px;
	height: 13px;
	background-image: url(../img/arrow-finish-account.png);
}

.arrow-half-account {
	display: inline-block;
	margin-bottom: 0px;
	width: 165px;
	height: 13px;
	background-image: url(../img/arrow-half-account.png);
}

.content-arrow-account {
	width: 167px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: middle;
}

.btn-modify-account {
	display: inline-block;
	width: 50px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #92bf02;
	color: #fff;
	vertical-align: center;
}

.btn-modify-account:hover {
	color: #fff;
	text-decoration: none;
}

.btn-modify-account:visited {
	color: #fff;
	text-decoration: none;
}

.btn-modify-account:link {
	color: #fff;
	text-decoration: none;
}









.name-title-account {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 50px;
	font-weight: 400;
	color: #444444;
	font-size: 24px;
}


.step-title-account {
	font-weight: 400;
	color: #444444;
	font-size: 18px;
}
div.title-account {
	border-bottom: solid 3px #e1e1e1;
	padding-bottom: 10px;
}

.devider-form-account {
	border-top: solid 1px #e1e1e1;
	margin-top: 5px;
	padding-bottom: 20px;
}

span.star-account {
	display: inline-block;
	margin-left: 50px;
	margin-right: 2px;
	color: red;
}

span.key-account {
	display: inline-block;
	margin-left: 0px;
	margin-right: 20px;
}
#Account-account {
	display: inline-block;
	margin-bottom: 10px;
}

.btn-group-account {
	padding-left: 250px;
}

.contact-form button.next-account {
	width: 140px;
	margin-right: 20px;
}

#title-department-account,
#province1-account {
	width: 265px;
	height: 34px;
}

#address1-account,
#address2-account,
#address3-account,
#city-account {
	width: 250px;
}

#postal-code-account {
	width: 150px;
}

#country-account {
	width: 300px;
	height: 34px;
}

#region-account {
	width: 250px;
}

#province2-account {
	width: 250px;
}

.plus-before-account {
	vertical-align: center;
	display: inline-block;
}

#business-phone1-account,
#business-fax1-account {
	width: 50px;
	display: inline-block;
}

#business-phone2-account,
#business-fax2-account {
	width: 50px;
	display: inline-block;
}

#business-phone3-account,
#business-fax3-account {
	width: 150px;
	display: inline-block;
}

#business-phone4-account,
#business-fax4-account {
	width: 110px;
	display: inline-block;
}




input.input-sm[type="text"] {
	height: 12px;
}

table.arrow-account {
	margin-bottom: 20px;
	margin-left: 200px;
}

.arrow-start-account {
	display: inline-block;
	margin-left: 23px;
	margin-bottom: 0px;
	width: 13px;
	height: 13px;
	background-image: url(../img/arrow-finish-account.png);
	background-position: -150px 0px;
}

.arrow-finish-account {
	display: inline-block;
	margin-bottom: 0px;
	width: 165px;
	height: 13px;
	background-image: url(../img/arrow-finish-account.png);
}

.arrow-half-account {
	display: inline-block;
	margin-bottom: 0px;
	width: 165px;
	height: 13px;
	background-image: url(../img/arrow-half-account.png);
}

.content-arrow-account {
	width: 167px;
}

.table-form-account td {
	padding-top: 5px;
	padding-bottom: 5px;
}