.box
{
    width: 100%;
    height: 100%;
    padding: 30px 50px;
}
.another-row
{
    margin-top: 30px;
}
.info-span
{
    display: block;
    height: 100%;
    width: 120px;
    text-align: right;
    float: left;
    padding-right: 20px;
    line-height: 34px;
}
.another-row .input-group
{
    width: 300px;
}
hr{
    border-top: 1px dotted #357ebd;
}
.another-row .button-container{
    padding: 0 100px;
    width: 100%;
}
.another-row .button-container button
{
    margin-right: 30px;
}