.input-size
{
    width: 60%;
}
.box-password
{
    width: 500px;
    height:180px;
    margin-left: 300px;
    margin-top: 30px;
}
.span-password
{
    width: 150px;

    padding-right: 30px;
    text-align: right;
    float:left;
    font-size:15px;
    font-family:"黑体";
    padding-top: 5px;
}
.null-line
{
    border: 1px solid #AAAAAA;
    margin-bottom: 50px;
	margin-left:20px;
    margin-right:20px;
}

.box-button-container
{
    width: 200px;
    height:50px;
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
}
.float-left-style
{
	margin-left:15px;
}
.hotel-table-info-content{
    margin: 20px;
}